<?xml version="1.0" encoding="UTF-8" ?>
<!-- logback.xml的配置，如果有logback-test.xml则优先读取logback-test.xml的文件 具体配置参见： http://logback.qos.ch/manual/configuration.html, 
	http://aub.iteye.com/blog/1101260 Author: royal430@163.com -->
<configuration>
<!-- 	<include resource="org/springframework/boot/logging/logback/base.xml" /> -->
	<property name="appName" value="automationTool" />
	<property name="loggingDir" value="./mc-automation-tool-log" />
	
	<!-- 控制台输出日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M 
				%L: %msg%n</pattern> -->
			<pattern>%-4relative %date [%thread] %-5level %logger{36} %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${loggingDir}/${appName}-debug.log</File>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%-4relative %date [%thread] %-5level %logger{36} %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${loggingDir}/${appName}-debug.log.%i.bak
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="INFO" class="ch.qos.logback.core.FileAppender">
		<File>${loggingDir}/${appName}-info.log</File>
		<append>false</append>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%-4relative %date [%thread] %-5level %logger{36} %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${loggingDir}/${appName}-warn.log</File>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%-4relative %date [%thread] %-5level %logger{36} %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${loggingDir}/${appName}-warn.log.%i.bak
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="ERROR" class="ch.qos.logback.core.FileAppender">
		<File>${loggingDir}/${appName}-error.log</File>
		<append>false</append>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%-4relative %date [%thread] %-5level %logger{36} %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 声明异步的文件Appender，提升性能 -->
	<appender name="ASYNC_DEBUG" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="DEBUG" />
	</appender>
	<appender name="ASYNC_INFO" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="INFO" />
	</appender>
	<appender name="ASYNC_WARN" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="WARN" />
	</appender>
	<appender name="ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ERROR" />
	</appender>
	
	
	<root level="DEBUG">  
        <appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC_DEBUG" />
		<appender-ref ref="ASYNC_INFO" />
		<appender-ref ref="ASYNC_WARN" />
		<appender-ref ref="ASYNC_ERROR" />
    </root>  
    
    <root level="info">
		<!-- <appender-ref ref="STDOUT" /> -->
		<appender-ref ref="ASYNC_INFO" />
		<appender-ref ref="ASYNC_WARN" />
		<appender-ref ref="ASYNC_ERROR" />
	</root> 
</configuration> 